<div class="mt-4">
    <form>
  <div class="form-group">
    <input type="text" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Nhap tu khoa</label>
  </div>
  <button type="submit" class="btn btn-primary">Fine</button>
</form>
</div>